p.awarde{
    text-align:center;
    font-size: 21px;
    color: white;
    font-family: 'Oxygen', sans-serif;
}
h1.awarde{
    text-align: center;
    color: white;
    font-family: 'Oxygen', sans-serif;
    margin-left: -10px;
}
div.awarde{
    margin-top: 50px;
    margin-left: -60px;
}