body{
    background-color: maroon;
}

nav{
    background-color: rgb(233, 172, 58);
    
  margin: -8px;
  
  padding-top: 10px;
  padding-bottom: 30px;
  
  
 background-repeat: no-repeat;
 
 float:both;
 
}.logo{
    background-color: rgb(216, 23, 23);
    margin-top: -10px;
  margin-left: -15px;
    float: left;
    position: relative;
    margin-left:10px ;
    
    
}
h1 a{
    text-decoration: none;
    margin-top: 0px;
    margin-top: -15px;
    margin-bottom: 0px;
    line-height: .75;
    color: green;
    margin-left: 10px;
}
h1{
    margin-left: 100px;
    vertical-align: top;
    
}

img{
    float: left;
    overflow: hidden;
    visibility: visible
}
p{
    
    font-size: 11px;
    vertical-align:middle;
    margin-left: 30px;

   
}
a.menu {
    float: right;
    margin-top: -60px;
    margin-right: 240px;
    font-size: 13px;
    color: black;
    text-align: center;
}
a.info {
    float: right;
    margin-top: -60px;
    margin-right: 190px;
    font-size: 13px;
    color: black;
    text-align: center;
}
a.award {
    float: right;
    margin-top: -60px;
    margin-right: 136px;
    font-size: 13px;
    color: black;
    text-align: center;
}
a.phn{
    float: right;
    font-size: 18px;
    margin-top: -69px;
    margin-right: 20px;
    color: black;
    margin-top: px;
}
.deliver{
    font-size: 15px;
    margin-top: 10px;
    color: green;
}


    
footer.footer{
    background-color: rgb(12, 9, 9);
    clear: both;
    
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 600px;
    
    padding-bottom: 54px;
    bottom: 0px;
    margin-bottom: -8px;
    
}
.times,.adress,.testimonial{
    
    margin-left: 135px;
    text-align:start;
    float: left;
    color: white;
    margin-top: 11px;
    
}
.deliver{
    font-size: 15px;
    text-align: justify;
    
    margin-left: -1px;
    
}
.testimonial p{
    font-size: 16px;
    margin-top: -1px;

}
.copywrite{
    clear: both;
    text-align: center;
    color: white;
    margin-left: -58px;
    font-size: 20px;
}
.time {
    font-size:20px;
    
    
}
.adresss {
    font-size: 20px;
    text-align:left;
}

.adress{
    margin-right: 20px;
}
div.lunch1{
  float: left;  
  width: 200px;
    margin-left: 40px;
    margin-top: 20px;
    height: 250px;
    border: 2px solid #3F0C1F;
    
    position: relative;
    
    text-align: center;
    
    
}
.notice{
    margin-left: 500px;
    margin-top: 20px;
    font-size: 24px;
    color: rgb(126, 110, 110);
    margin-top: -1px;
}
.banner{
    font-size: 29px;
    margin-top: 10px;
    margin-left: 600px;
    color: white;
}
.para{
    margin-left: 100px;

}
span.lunch1{
    margin-left: 50px;
}
div.desc{
   
   float: left;
    
   margin-top: 10px;
   margin-left: 50px;
  
}
.price1{
    margin-top: 300px;
}
.lunch1{
    box-shadow:  0 1px 5px 1px #f11e1e;
}
.lunch1:hover{
    box-shadow: 0 1px 4px 1px white;
}

p.para{
  
  font-size: 17px;
  width: 200px;
  margin-left: -5px;
}
p.lunch1{
    margin-left: -8px;
    font-size: 23px;
    font-weight: bold;
}
span.price1{
    font-size: 17px;
    font-weight: bold;
}

    

