body{
    background-color: maroon;
}

nav{
    background-color: rgb(233, 172, 58);
    
  margin: -8px;
  padding-bottom:10px;
  padding-top: 10px;
  
  
 background-repeat: no-repeat;
 
 float:both;
 
}.logo{
    background-color: rgb(216, 23, 23);
    margin-top: -20px;
  margin-left: -15px;
    float: left;
    position: relative;
    margin-left:10px ;
    
    
}
h1 a{
    text-decoration: none;
    margin-top: 0px;
    margin-top: -15px;
    margin-bottom: 0px;
    line-height: .75;
    color: green;
    margin-left: 10px;
}
h1{
    margin-left: 100px;
    vertical-align: top;
    
}

img{
    float: left;
    overflow: hidden;
    visibility: visible
}
p{
    
    font-size: 11px;
    vertical-align:middle;
    margin-left: 30px;

   
}
a.menu {
    float: right;
    margin-top: -70px;
    margin-right: 240px;
    font-size: 13px;
    color: black;
    text-align: center;
}
a.info {
    float: right;
    margin-top: -70px;
    margin-right: 190px;
    font-size: 13px;
    color: black;
    text-align: center;
}
a.award {
    float: right;
    margin-top: -70px;
    margin-right: 136px;
    font-size: 13px;
    color: black;
    text-align: center;
}
a.phn{
    float: right;
    font-size: 18px;
    margin-top: -77px;
    margin-right: 20px;
    color: black;
    margin-top: px;
}
.deliver{
    font-size: 15px;
    margin-top: 10px;
    color: green;
}

    
footer.footer{
    background-color: rgb(12, 9, 9);
    clear: both;
    margin-top: 300px;
    margin-left: -8px;
    margin-right: -8px;
    
    padding-bottom: 54px;
    bottom: 0px;
    margin-bottom: -8px;
    
}
.times,.adress,.testimonial{
    
    margin-left: 135px;
    text-align:start;
    float: left;
    color: white;
    margin-top: 11px;
    
}
.deliver{
    font-size: 15px;
    text-align: justify;
    
    margin-left: -1px;
    
}
.testimonial p{
    font-size: 16px;
    margin-top: -1px;

}
.copywrite{
    clear: both;
    text-align: center;
    color: white;
    margin-left: -58px;
    font-size: 20px;
}
.time {
    font-size:20px;
    
    
}
.adresss {
    font-size: 20px;
    text-align:left;
}
.menuc{
    text-align: center;
    color: honeydew;
    margin-left: -17px;
}
.para{
    color: green;
}
.menuct{
    margin-left: 10px;
}
#menucat{
    float: left;
        
        margin-left: 27px;
        
        margin-top: 10px;
}
.breakfast{
    float: left;
    width: 200px;
    margin-left: 29px;
    
    border: 2px solid #3F0C1F;
    height: 250px;
    position: relative;
    
    text-align: center;
    overflow: hidden;
    background: url("brkfst.jpg");
}.snacks{
    
    float: left;
    width: 200px;
    margin-left: 29px;
    
    border: 2px solid #3F0C1F;
    height: 250px;
    position: relative;
    
    text-align: center;
    overflow: hidden;
    background: url("snacks.jpg") no-repeat;
}
.fastfood{
    float: left;
    width: 200px;
    margin-left: 29px;
    
    border: 2px solid #3F0C1F;
    height: 250px;
    position: relative;
    
    text-align: center;
    overflow: hidden;
    background: url("fastfood.jpg") no-repeat;
    background-position: center;
}
.dinner{
    
    float: left;
    width: 200px;
    margin-left: 29px;
    
    border: 2px solid #3F0C1F;
    height: 250px;
    position: relative;
    
    text-align: center;
    overflow: hidden;
    background: url("dinner.jpg") 10px 10px no-repeat;
    background-position:0vmax;
}
.lunch{
    
  float: left;
  width: 200px;
    margin-left: 29px;
    
    border: 2px solid #3F0C1F;
    height: 250px;
    position: relative;
    
    text-align: center;
    overflow: hidden;
    background:url("menuspecial.jpg") no-repeat ;
    background-position:left;
}

.snacks span{
    position:absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: .8;
    text-transform: uppercase;
    font-size: 1.6em;
    background-color: #000;
    color: #fff;
    
}
.breakfast span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: .8;
    text-transform: uppercase;
    font-size: 1.6em;
    background-color: #000;
    color: #fff;
    
}
.lunch span{
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: .8;
    text-transform: uppercase;
    font-size: 1.6em;
    background-color:black ;
    color: white;
    
    right: 0;
}
.dinner span{
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: .8;
    text-transform: uppercase;
    font-size: 1.6em;
    background-color:black ;
    color: white;
    
    right: 0;

}
.fastfood span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: .7;
    text-transform: uppercase;
    font-size: 1.6em;
    background-color:black ;
    color: white;
    
    
    
}
.menusu:hover, .menusc:hover, .menusi:hover, .menush:hover, .menust:hover{
    box-shadow:  0 1px 5px 1px #cccccc;
}
.button a:active{
    box-shadow:  0 1px 5px 1px #cccccc;
    background-color: #000;   
}
