body{
    background-color: maroon;
}

nav{
    background-color: rgb(233, 172, 58);
    
  margin: -8px;
  padding-bottom:10px;
  padding-top: 10px;
  
  
 background-repeat: no-repeat;
 
 float:both;
 
 
}
.logo{
    background-color: rgb(216, 23, 23);
    margin-top: -20px;
  margin-left: -15px;
    float: left;
    position: relative;
    margin-left:10px ;
    
    
}
h1 a{
    text-decoration: none;
    margin-top: 0px;
    margin-top: -15px;
    margin-bottom: 0px;
    line-height: .75;
    color: green;
    margin-left: 10px;
}


h1{
    margin-left: 100px;
    vertical-align: top;
    
}

img{
    float: left;
    overflow: hidden;
    visibility: visible
}
p{
    
    font-size: 11px;
    vertical-align:middle;
    margin-left: 30px;

   
}
a.menu {
    float: right;
    margin-top: -70px;
    margin-right: 240px;
    font-size: 13px;
    color: black;
    text-align: center;
}
a.info {
    float: right;
    margin-top: -70px;
    margin-right: 190px;
    font-size: 13px;
    color: black;
    text-align: center;
}
a.award {
    float: right;
    margin-top: -70px;
    margin-right: 136px;
    font-size: 13px;
    color: black;
    text-align: center;
    
    
}
a.phn{
    float: right;
    font-size: 18px;
    margin-top: -77px;
    margin-right: 20px;
    color: black;
    margin-top: px;
}
.deliver{
    font-size: 15px;
    margin-top: 10px;
    color: green;
}

    

.phn:hover{
    background-color:rgb(143, 124, 124);
}
.container{
    height: 470px;
    width: 93% ;
    border: 2px solid rgb(10, 4, 4);
    margin-left: 40px;
    margin-top: 17px;
    box-shadow: 0 1px 5px 1px rgb(189, 49, 49);
    
    
    
    
    position: relative;
}  
    
    
   
   

.container{
    background: url("restaurent.jpg") no-repeat; 
    background-position: center;
}
#maintiles{
    float: left;
    margin-left: 27px;
    position: relative;
    margin-top: 10px;
    
}

.menus{
    float: left;
    margin-left: 11px;
    border: 2px solid #3F0C1F;
    height: 250px;
    position: relative;
    width: 30%;
    text-align: center;
    overflow: hidden;
    

}

.special{
  float: left;
    margin-left: 74px;
    border: 2px solid #3F0C1F;
    height: 250px;
    position: relative;
    width: 30%;
    clear: right;
   
    text-align: center;
    overflow: hidden;
    
}
.map{
    
    margin-left: 832px;
    border: 2px solid #3F0C1F;
    height: 250px;
    position: relative;
    width: 30%;
    text-align: center;
    
    
}
.menu:hover, .info:hover, .award:hover{
    box-shadow: 0 1px 5px 1px #cccccc;
    
    
}

.button a:active{
    box-shadow:  0 1px 5px 1px #cccccc;
    background-color: #000;   
}

.menus{
    background: url("menutiles.jpg") no-repeat ;
    background-position: center;
}
.special{
    background: url("menuspecial.jpg") no-repeat ;
    background-position: center;
}
.menus span{
    position:absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: .8;
    text-transform: uppercase;
    font-size: 1.6em;
    background-color: #000;
    color: #fff;
    
}
.special span{
    position:absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: .7;
    text-transform: uppercase;
    font-size: 1.6em;
    background-color: #000;
    color: #fff;
    
}
.map span{
    position:absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: .8;
    text-transform: uppercase;
    font-size: 1.6em;
    background-color: #000;
    color: #fff;
    
}
.menus:hover, .special:hover, .map:hover{
    box-shadow: 0 1px 5px 1px #cccccc;
}

    
footer.footer{
    background-color: rgb(12, 9, 9);
    clear: both;
    margin-top: 300px;
    margin-left: -8px;
    margin-right: -8px;
    
    padding-bottom: 50px;
    bottom: 0px;
    margin-bottom: -8px;
    
}
.times,.adress,.testimonial{
    
    margin-left: 115px;
    text-align:start;
    float: left;
    color: white;
    margin-top: 11px;
    
}
.deliver{
    font-size: 16px;
    text-align: justify;
    
    margin-left: -1px;
    
    
}
.testimonial p{
    font-size: 16px;
    margin-top: -1px;
    margin-left: 100px;

}
.copywrite{
    clear: both;
    text-align: center;
    color: white;
    margin-left: -65px;
    font-size: 20px;
}
.time {
    font-size:20px;
    
    
}
.adresss {
    font-size: 20px;
    text-align:left;
    
}
.adress{
    margin-right: 15px;
    margin-left: 183px;
}
